<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SynoCam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SynoCamWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SynoCam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <SynoCam.Properties.Settings>
      <setting name="ServerIpOrDns" serializeAs="String">
        <value>server.domain.com</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>5001</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>pass</value>
      </setting>
      <setting name="UseHttps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OnlyFunctionOnWorkingHours" serializeAs="String">
        <value>False</value>
      </setting>
    </SynoCam.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <SynoCamWPF.Properties.Settings>
      <setting name="ServerIpOrDns" serializeAs="String">
        <value>server.domain.com</value>
      </setting>
      <setting name="UseHttps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>443</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>0</value>
      </setting>
    </SynoCamWPF.Properties.Settings>
    <SynoCam.Properties.Settings>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>0</value>
      </setting>
    </SynoCam.Properties.Settings>
  </userSettings>
</configuration>