<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <cam.Properties.Settings>
            <setting name="ServerIpOrDns" serializeAs="String">
                <value>server.domain.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>passssss</value>
            </setting>
            <setting name="UseHttps" serializeAs="String">
                <value>True</value>
            </setting>
        </cam.Properties.Settings>
    </applicationSettings>
</configuration>